@charset "UTF-8"
.jumbotron {
  background-color: yellow;
  color: black; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-address-icon {
  padding-right: 10px; }

.Reserva-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
